*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    background: var(--rich-black);
}

:root{
    --rich-black: #051014;
    --jet: #2E2F2F;
    --emerald: #23CE6B;
    --vivid-sky-blue: #2BD9FE;
    --columbia-blue: #BFD1E5;
}

.btn-white {
    background-color: #fff;
    border-color: #e7eaf3;
}
.radius-15 {
    border-radius: 15px;
}
.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}

#icon{
    color: var(--emerald);
}

#card1{    
    background-color: purple;
}

#card2{
    background-color: rgb(28, 141, 179);
}